section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  display: block;
  margin: auto;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 15px;
  margin: 15px;
  border: 10px solid darkblue;
}
div{
  margin-top: 20px;
}